In [2]:
#import a csv
import csv
import os
import pandas as pd

In [3]:
# set the directory to C:\Users\ual-laptop\Desktop\BI\Project
os.chdir('C:\\Users\\ual-laptop\\Desktop\\BI\\Project')

In [14]:
import pandas as pd

# Step 1: Load the CSV file into a DataFrame
file_name = 'cleaned_Airline_review_Final.csv'
df = pd.read_csv(file_name)

# Step 2: Rename the columns
df.columns = df.columns.str.upper().str.replace(' ', '_')

# Step 3: Save the modified DataFrame back to the same CSV file
df.to_csv(file_name, index=False)


df.columns

Index(['REVIEW_ID', 'AIRLINE_NAME', 'OVERALL_RATING', 'REVIEW_TITLE',
       'REVIEW_DATE', 'VERIFIED', 'REVIEW', 'AIRCRAFT', 'TYPE_OF_TRAVELLER',
       'SEAT_TYPE', 'ROUTE', 'DATE_FLOWN', 'SEAT_COMFORT',
       'CABIN_STAFF_SERVICE', 'FOOD_BEVERAGES', 'GROUND_SERVICE',
       'INFLIGHT_ENTERTAINMENT', 'WIFI_CONNECTIVITY', 'VALUE_FOR_MONEY',
       'RECOMMENDED', 'IATA_CODE'],
      dtype='object')

In [11]:
# display the column names of the csv file and not of the dataframe
df = pd.read_csv('random_cleaned_flights_sample_3m.csv')

df.head(10)

#view all 34 columnns
df.columns

Index(['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'IATA_CODE', 'DOT_CODE',
       'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON',
       'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME',
       'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER',
       'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT',
       'ORIGIN_STATE', 'DESTINATION_CITY', 'DESTINATION_STATE'],
      dtype='object')

In [14]:
# Display the first 10 rows of these columns: 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME'
df[['CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN','TAXI_OUT',]].head(10)

,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,WHEELS_OFF,WHEELS_ON,TAXI_IN,TAXI_OUT
0,1551,1558.0,7.0,1830,1830.0,0.0,159,152.0,129.0,1613.0,1822.0,8.0,15.0
1,800,755.0,-5.0,1100,1044.0,-16.0,180,169.0,150.0,810.0,1040.0,4.0,15.0
2,2155,2151.0,-4.0,2315,2304.0,-11.0,80,73.0,59.0,2201.0,2300.0,4.0,10.0
3,550,546.0,-4.0,924,907.0,-17.0,154,141.0,122.0,557.0,859.0,8.0,11.0
4,2049,2049.0,0.0,13,31.0,18.0,384,402.0,374.0,2110.0,24.0,7.0,21.0
5,650,640.0,-10.0,851,846.0,-5.0,181,186.0,166.0,655.0,841.0,5.0,15.0
6,1430,1428.0,-2.0,1622,1611.0,-11.0,232,223.0,200.0,1443.0,1603.0,8.0,15.0
7,740,740.0,0.0,1010,949.0,-21.0,330,309.0,294.0,750.0,944.0,5.0,10.0
8,1455,1455.0,0.0,1955,1946.0,-9.0,180,171.0,154.0,1508.0,1942.0,4.0,13.0
9,1315,1304.0,-11.0,1449,1422.0,-27.0,94,78.0,62.0,1317.0,1419.0,3.0,13.0

In [9]:
import pandas as pd


# Read the CSV file
df = pd.read_csv('random_cleaned_flights_sample_3m.csv')

# Count the distinct values of 'ORIGIN' and 'DEST'
distinct_origin_values = df['ORIGIN'].nunique()
distinct_dest_values = df['DEST'].nunique()

# Display the counts
print("Distinct values of 'ORIGIN':", distinct_origin_values)
print("Distinct values of 'DEST':", distinct_dest_values)

Distinct values of 'ORIGIN': 319
Distinct values of 'DEST': 315

In [14]:
import pandas as pd

# Specify the path to your CSV file
csv_file_path = 'All_Airports.csv'

try:
    # Try reading the CSV with UTF-8 encoding (default)
    df = pd.read_csv(csv_file_path)
except UnicodeDecodeError:
    try:
        # If UTF-8 doesn't work, try reading with ISO-8859-1
        df = pd.read_csv(csv_file_path, encoding='ISO-8859-1')
    except UnicodeDecodeError:
        # If ISO-8859-1 doesn't work, try reading with cp1252
        df = pd.read_csv(csv_file_path, encoding='cp1252')

# List of airport codes for which you want to extract details
airport_codes = ['ABE','ABI','ABQ','ABR','ABY','ACK','ACT','ACV','ACY','ADK','ADQ','AEX','AGS','AKN','ALB','ALO','ALS','ALW','AMA','ANC','APN','ART','ASE','ATL','ATW','ATY','AUS','AVL','AVP','AZA','AZO','BDL','BET','BFF','BFL','BFM','BGM','BGR','BHM','BIH','BIL','BIS','BJI','BKG','BLI','BLV','BMI','BNA','BOI','BOS','BPT','BQK','BQN','BRD','BRO','BRW','BTM','BTR','BTV','BUF','BUR','BWI','BZN','CAE','CAK','CDB','CDC','CDV','CGI','CHA','CHO','CHS','CID','CIU','CKB','CLE','CLL','CLT','CMH','CMI','CMX','CNY','COD','COS','COU','CPR','CRP','CRW','CSG','CVG','CWA','CYS','DAB','DAL','DAY','DBQ','DCA','DDC','DEC','DEN','DFW','DHN','DIK','DLG','DLH','DRO','DRT','DSM','DTW','DVL','EAR','EAT','EAU','ECP','EGE','EKO','ELM','ELP','ERI','ESC','EUG','EVV','EWN','EWR','EYW','FAI','FAR','FAT','FAY','FCA','FLG','FLL','FLO','FNT','FOD','FSD','FSM','FWA','GCC','GCK','GEG','GFK','GGG','GJT','GNV','GPT','GRB','GRI','GRK','GRR','GSO','GSP','GST','GTF','GTR','GUC','GUM','HDN','HGR','HHH','HIB','HLN','HNL','HOB','HOU','HPN','HRL','HSV','HTS','HVN','HYA','HYS','IAD','IAG','IAH','ICT','IDA','ILG','ILM','IMT','IND','INL','IPT','ISN','ISP','ITH','ITO','JAC','JAN','JAX','JFK','JLN','JMS','JNU','JST','KOA','KTN','LAN','LAR','LAS','LAW','LAX','LBB','LBE','LBF','LBL','LCH','LCK','LEX','LFT','LGA','LGB','LIH','LIT','LNK','LRD','LSE','LWB','LWS','LYH','MAF','MBS','MCI','MCO','MCW','MDT','MDW','MEI','MEM','MFE','MFR','MGM','MHK','MHT','MIA','MKE','MKG','MLB','MLI','MLU','MMH','MOB','MOT','MQT','MRY','MSN','MSO','MSP','MSY','MTJ','MVY','MYR','OAJ','OAK','OGD','OGG','OGS','OKC','OMA','OME','ONT','ORD','ORF','ORH','OTH','OTZ','OWB','PAE','PAH','PBG','PBI','PDX','PGD','PGV','PHF','PHL','PHX','PIA','PIB','PIE','PIH','PIR','PIT','PLN','PNS','PPG','PRC','PSC','PSE','PSG','PSM','PSP','PUB','PUW','PVD','PVU','PWM','RAP','RDD','RDM','RDU','RFD','RHI','RIC','RIW','RKS','RNO','ROA','ROC','ROW','RST','RSW','SAF','SAN','SAT','SAV','SBA','SBN','SBP','SCC','SCE','SCK','SDF','SEA','SFB','SFO','SGF','SGU','SHD','SHR','SHV','SIT','SJC','SJT','SJU','SLC','SLN','SMF','SMX','SNA','SPI','SPN','SPS','SRQ','STC','STL','STS','STT','STX','SUN','SUX','SWF','SWO','SYR','TBN','TLH','TOL','TPA','TRI','TTN','TUL','TUS','TVC','TWF','TXK','TYR','TYS','UIN','USA','VCT','VEL','VLD','VPS','WRG','WYS','XNA','XWA','YAK','YKM','YUM']  # Replace with your actual codes

# Extracting the details of the specified airports
filtered_airports = df[df['Code'].isin(airport_codes)]

# Displaying the details of the specified airports
print(filtered_airports)

# Save the details of the specified airports to a new CSV file
filtered_airports.to_csv('filtered_airports.csv', index=False)

    Code                                               Name  \
0    BHM     BirminghamShuttlesworth International Airport
1    DHN                            Dothan Regional Airport
2    HSV  Huntsville International Airport (Carl T. Jone...
3    MOB                            Mobile Regional Airport
4    MGM       Montgomery Regional Airport (Dannelly Field)
..   ...                                                ...
374  BQN                           Rafael Hernández Airport
377  PSE                                  Mercedita Airport
379  SJU             Luis Muñoz Marín International Airport
381  STT                              Cyril E. King Airport
382  STX                           Henry E. Rohlsen Airport

                             City
0                      Birmingham
1                          Dothan
2                      Huntsville
3                          Mobile
4                      Montgomery
..                            ...
374                     Aguadilla
377                         Ponce
379           San Juan / Carolina
381  Charlotte Amalie, St. Thomas
382      Christiansted, St. Croix

[349 rows x 3 columns]

In [16]:
# Sample lists (replace these with your actual lists)
list1 = ['ABE','ABI','ABQ','ABR','ABY','ACK','ACT','ACV','ACY','ADK','ADQ','AEX','AGS','AKN','ALB','ALO','ALS','ALW','AMA','ANC','APN','ART','ASE','ATL','ATW','ATY','AUS','AVL','AVP','AZA','AZO','BDL','BET','BFF','BFL','BFM','BGM','BGR','BHM','BIH','BIL','BIS','BJI','BKG','BLI','BLV','BMI','BNA','BOI','BOS','BPT','BQK','BQN','BRD','BRO','BRW','BTM','BTR','BTV','BUF','BUR','BWI','BZN','CAE','CAK','CDB','CDC','CDV','CGI','CHA','CHO','CHS','CID','CIU','CKB','CLE','CLL','CLT','CMH','CMI','CMX','CNY','COD','COS','COU','CPR','CRP','CRW','CSG','CVG','CWA','CYS','DAB','DAL','DAY','DBQ','DCA','DDC','DEC','DEN','DFW','DHN','DIK','DLG','DLH','DRO','DRT','DSM','DTW','DVL','EAR','EAT','EAU','ECP','EGE','EKO','ELM','ELP','ERI','ESC','EUG','EVV','EWN','EWR','EYW','FAI','FAR','FAT','FAY','FCA','FLG','FLL','FLO','FNT','FOD','FSD','FSM','FWA','GCC','GCK','GEG','GFK','GGG','GJT','GNV','GPT','GRB','GRI','GRK','GRR','GSO','GSP','GST','GTF','GTR','GUC','GUM','HDN','HGR','HHH','HIB','HLN','HNL','HOB','HOU','HPN','HRL','HSV','HTS','HVN','HYA','HYS','IAD','IAG','IAH','ICT','IDA','ILG','ILM','IMT','IND','INL','IPT','ISN','ISP','ITH','ITO','JAC','JAN','JAX','JFK','JLN','JMS','JNU','JST','KOA','KTN','LAN','LAR','LAS','LAW','LAX','LBB','LBE','LBF','LBL','LCH','LCK','LEX','LFT','LGA','LGB','LIH','LIT','LNK','LRD','LSE','LWB','LWS','LYH','MAF','MBS','MCI','MCO','MCW','MDT','MDW','MEI','MEM','MFE','MFR','MGM','MHK','MHT','MIA','MKE','MKG','MLB','MLI','MLU','MMH','MOB','MOT','MQT','MRY','MSN','MSO','MSP','MSY','MTJ','MVY','MYR','OAJ','OAK','OGD','OGG','OGS','OKC','OMA','OME','ONT','ORD','ORF','ORH','OTH','OTZ','OWB','PAE','PAH','PBG','PBI','PDX','PGD','PGV','PHF','PHL','PHX','PIA','PIB','PIE','PIH','PIR','PIT','PLN','PNS','PPG','PRC','PSC','PSE','PSG','PSM','PSP','PUB','PUW','PVD','PVU','PWM','RAP','RDD','RDM','RDU','RFD','RHI','RIC','RIW','RKS','RNO','ROA','ROC','ROW','RST','RSW','SAF','SAN','SAT','SAV','SBA','SBN','SBP','SCC','SCE','SCK','SDF','SEA','SFB','SFO','SGF','SGU','SHD','SHR','SHV','SIT','SJC','SJT','SJU','SLC','SLN','SMF','SMX','SNA','SPI','SPN','SPS','SRQ','STC','STL','STS','STT','STX','SUN','SUX','SWF','SWO','SYR','TBN','TLH','TOL','TPA','TRI','TTN','TUL','TUS','TVC','TWF','TXK','TYR','TYS','UIN','USA','VCT','VEL','VLD','VPS','WRG','WYS','XNA','XWA','YAK','YKM','YUM']
list2 = ['BHM','DHN','HSV','MOB','MGM','ANC','BET','CDV','SCC','DLG','FAI','GST','JNU','KTN','AKN','ADQ','OTZ','OME','PSG','SIT','BRW','WRG','YAK','FLG','PHX','PRC','TUS','XNA','FSM','LIT','TXK','ACV','BFL','BUR','FAT','LGB','LAX','MRY','OAK','ONT','SNA','PSP','RDD','SMF','SAN','SFO','SJC','SBP','SBA','SMX','STS','SCK','ALS','ASE','COS','DEN','DRO','EGE','GJT','GUC','HDN','MTJ','BDL','HVN','ILG','DAB','FLL','RSW','VPS','GNV','JAX','EYW','MLB','MIA','MCO','ECP','PNS','PGD','SFB','SRQ','PIE','TLH','TPA','PBI','ABY','ATL','AGS','BQK','CSG','SAV','VLD','ITO','HNL','OGG','KOA','LIH','BOI','SUN','IDA','LWS','PIH','TWF','BLV','BMI','CMI','MDW','ORD','MLI','PIA','RFD','SPI','EVV','FWA','IND','SBN','CID','DSM','DBQ','SUX','ALO','GCK','HYS','MHK','SLN','ICT','CVG','LEX','SDF','OWB','PAH','AEX','BTR','LFT','LCH','MLU','MSY','SHV','BGR','PWM','BWI','HGR','BOS','HYA','ACK','MVY','ORH','APN','DTW','ESC','FNT','GRR','CMX','IMT','AZO','LAN','MKG','PLN','MBS','CIU','TVC','BJI','BRD','DLH','HIB','MSP','RST','STC','GTR','GPT','PIB','JAN','MEI','COU','TBN','JLN','MCI','STL','SGF','BIL','BZN','BTM','GTF','HLN','MSO','WYS','GRI','EAR','LNK','LBF','OMA','BFF','EKO','LAS','RNO','MHT','PSM','ACY','EWR','TTN','ABQ','HOB','ROW','SAF','ALB','BGM','BUF','ELM','ITH','JFK','LGA','ISP','SWF','IAG','OGS','PBG','ROC','SYR','ART','HPN','AVL','CLT','FAY','GSO','PGV','OAJ','EWN','RDU','ILM','BIS','DIK','FAR','GFK','JMS','MOT','XWA','CAK','CLE','CMH','LCK','DAY','TOL','LAW','OKC','SWO','TUL','EUG','MFR','OTH','PDX','RDM','ABE','ERI','MDT','LBE','PHL','PIT','AVP','PVD','CHS','CAE','FLO','GSP','MYR','ABR','PIR','RAP','FSD','ATY','CHA','TYS','MEM','BNA','TRI','ABI','AMA','AUS','BPT','BRO','CLL','CRP','DAL','DFW','DRT','ELP','HRL','IAH','HOU','GRK','LRD','GGG','LBB','MFE','MAF','SJT','SAT','TYR','ACT','SPS','CDC','CNY','OGD','PVU','SGU','SLC','BTV','CHO','LYH','PHF','ORF','RIC','ROA','SHD','DCA','IAD','BLI','PAE','PSC','PUW','SEA','GEG','ALW','EAT','YKM','CRW','CKB','HTS','LWB','ATW','EAU','GRB','LSE','MSN','MKE','CWA','RHI','CPR','COD','GCC','JAC','LAR','RIW','RKS','SHR','GUM','BQN','PSE','SJU','STT','STX']

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Find elements that are unique to each list
unique_to_list1 = set1 - set2
unique_to_list2 = set2 - set1

# Combine the unique elements from both lists
not_common_elements = unique_to_list1.union(unique_to_list2)

# Convert the set back to a list, if you need it in list form
not_common_elements_list = list(not_common_elements)

# Display the result
print("Elements not common in both lists:", not_common_elements_list)

Elements not common in both lists: ['SPN', 'CGI', 'INL', 'DEC', 'CYS', 'PUB', 'MCW', 'ISN', 'BIH', 'VCT', 'UIN', 'BKG', 'CDB', 'DDC', 'BFM', 'HHH', 'FOD', 'ADK', 'LBL', 'USA', 'FCA', 'MQT', 'AZA', 'DVL', 'VEL', 'JST', 'IPT', 'PPG', 'MMH', 'SCE', 'YUM']

In [9]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ual-laptop\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\ual-laptop\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [11]:
import pandas as pd
from datetime import datetime

# Read the CSV file
df = pd.read_csv("review_source.csv")

# Function to convert text date to datetime format
def convert_text_to_date(text_date):
    # Remove any commas from the text date
    text_date = text_date.replace(",", "")
    
    # Extract day, month, and year from the text date
    day, month, year = text_date.split(" ")

    # Remove the suffix from the day
    day = day[:-2]

    # Convert month name to month number
    month_number = datetime.strptime(month, "%B").month

    # Create datetime object
    date_obj = datetime(int(year), month_number, int(day))
    
    return date_obj.strftime("%m-%d-%Y")

# Apply the function to the "Review Date" column and store the result in a new column
df["Review_Date"] = df["Review Date"].apply(convert_text_to_date)

# Save the updated DataFrame to a new CSV file
df.to_csv("updated_review_source.csv", index=False)

In [4]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('random_cleaned_flights_sample_3m.csv')

# Ensure the column data does not exceed 255 characters
# Replace 'your_column_name' with the actual column name
df['ORIGIN'] = df['ORIGIN'].astype(str).str.slice(0, 255)

# Save the modified DataFrame back to a new CSV file if needed
df.to_csv('new_random_cleaned_flights_sample_3m.csv', index=False)

# If directly inserting into a database, proceed with the insertion
# using the modified DataFrame. This will depend on your database system.

In [15]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(
'cleaned_Airline_review_Final.csv')
# Split the "Route" column into two columns
df[['Route_Before', 'Route_After']] = df['ROUTE'].str.split(' to ', expand=True)

# Save the updated DataFrame to the CSV file
df.to_csv('cleaned_Airline_review_Final.csv', index=False)

In [25]:
df.head()

,REVIEW_ID,AIRLINE_NAME,OVERALL_RATING,REVIEW_TITLE,REVIEW_DATE,VERIFIED,REVIEW,AIRCRAFT,TYPE_OF_TRAVELLER,SEAT_TYPE,...,CABIN_STAFF_SERVICE,FOOD_BEVERAGES,GROUND_SERVICE,INFLIGHT_ENTERTAINMENT,WIFI_CONNECTIVITY,VALUE_FOR_MONEY,RECOMMENDED,IATA_CODE,Route_Before,Route_After
0,3801,Alaska Airlines,1,"""carpet was so dirty""",24th July 2023,False,"Never again! My ticket was messed up, I had t...",Boeing 737-800,Solo Leisure,First Class,...,1.0,1.0,1.0,1.0,1.0,1.0,no,AS,Dallas,Seattle
1,3802,Alaska Airlines,1,"""have the audacity to be truthful""",23rd July 2023,True,Booked a round trip with this company for a ...,NaN,Family Leisure,Premium Economy,...,1.0,1.0,1.0,1.0,4.0,1.0,no,AS,San Francisco,Orlando
2,3803,Alaska Airlines,2,"""a lot of shortfalls all over the place""",22nd July 2023,True,No in flight entertainment. Inconvenient foo...,Boeing 737,Solo Leisure,First Class,...,2.0,2.0,1.0,1.0,1.0,2.0,no,AS,Anchorage,Detroit
3,3804,Alaska Airlines,1,"""Absolutely terrible experience""",22nd July 2023,True,Absolutely terrible experience flying with A...,NaN,Family Leisure,Premium Economy,...,1.0,2.0,1.0,2.0,2.0,1.0,no,AS,Austin,Seattle
4,3805,Alaska Airlines,1,"""the pilot had no sense of urgency""",21st July 2023,True,We were on a connecting flight to London and ...,NaN,Business,Business Class,...,5.0,5.0,1.0,NaN,NaN,1.0,no,AS,San Diego,Seattle

In [17]:
df['Route_After'] = df['Route_After'].str.split(' via').str[0]

In [22]:
import pandas as pd

# Read the 'cleaned_Airline_review_Final.csv' file
df_review = pd.read_csv('cleaned_Airline_review_Final.csv')

# Read the 'All_Airports.csv' file
df_airports = pd.read_csv('filtered_airports.csv')

# Merge the two dataframes based on the City and Route_Before columns
df_merged = pd.merge(df_review, df_airports, left_on='Route_Before', right_on='City', how='left')

# Create a new column 'Airport_code' and insert the corresponding values
df_merged['Airport Code'] = df_merged['Airport Code']

# Save the updated dataframe to a new CSV file
df_merged.to_csv('merged_review.csv', index=False)

In [42]:
df_review = pd.read_csv('cleaned_Airline_review_Final.csv')

# Read the filtered_airports.csv file
df_airports = pd.read_csv('filtered_airports.csv')

df['Route_After'] = df['Route_After'].str.split(' via').str[0]

# Save the updated DataFrame to the CSV file
df.to_csv('cleaned_Airline_review_Final.csv', index=False)

In [46]:
cleaned_df = pd.read_csv('cleaned_Airline_review_Final.csv')
cleaned_df.head()

,REVIEW_ID,AIRLINE_NAME,OVERALL_RATING,REVIEW_TITLE,REVIEW_DATE,VERIFIED,REVIEW,AIRCRAFT,TYPE_OF_TRAVELLER,SEAT_TYPE,...,VALUE_FOR_MONEY,RECOMMENDED,IATA_CODE,Route_Before,Route_After,Destination Airport Code,Airport Code,Airport Name,City,State
0,3801,Alaska Airlines,1,"""carpet was so dirty""",24th July 2023,False,"Never again! My ticket was messed up, I had t...",Boeing 737-800,Solo Leisure,First Class,...,1.0,no,AS,Dallas/Fort Worth International,Seattle,SEA,SEA,Seattle-Tacoma International,Seattle,WA
1,3802,Alaska Airlines,1,"""have the audacity to be truthful""",23rd July 2023,True,Booked a round trip with this company for a ...,NaN,Family Leisure,Premium Economy,...,1.0,no,AS,San Francisco,Orlando,MCO,MCO,Orlando International,Orlando,FL
2,3803,Alaska Airlines,2,"""a lot of shortfalls all over the place""",22nd July 2023,True,No in flight entertainment. Inconvenient foo...,Boeing 737,Solo Leisure,First Class,...,2.0,no,AS,Anchorage,Detroit,DTW,DTW,Detroit Metropolitan Wayne County,Detroit,MI
3,3804,Alaska Airlines,1,"""Absolutely terrible experience""",22nd July 2023,True,Absolutely terrible experience flying with A...,NaN,Family Leisure,Premium Economy,...,1.0,no,AS,Austin,Seattle,SEA,SEA,Seattle-Tacoma International,Seattle,WA
4,3805,Alaska Airlines,1,"""the pilot had no sense of urgency""",21st July 2023,True,We were on a connecting flight to London and ...,NaN,Business,Business Class,...,1.0,no,AS,San Diego,Seattle,SEA,SEA,Seattle-Tacoma International,Seattle,WA

In [57]:
import pandas as pd

# Step 1: Load the 'cleaned_Airline_review_Final.csv' file into a DataFrame
cleaned_df = pd.read_csv('cleaned_Airline_review_Final.csv')
cleaned_df.head()

# Step 2: Load the 'filtered_airports.csv' file into another DataFrame
filtered_airports_df = pd.read_csv('filtered_airports.csv')

# Step 3: Merge the two DataFrames based on the 'City' column and the 'Route_Before' column
merged_df = cleaned_df.merge(filtered_airports_df, left_on='Route_After', right_on='City', how='left')

# Step 4: Extract the 'Airport Code' column from the merged DataFrame and assign it to a new column called 'Source Airport Code'
merged_df['Destination Airport Code'] = merged_df['Airport Code']

# Step 5: Save the modified DataFrame back to the 'cleaned_Airline_review_Final.csv' file
merged_df.to_csv('cleaned_Airline_review_Final.csv', index=False)

In [51]:
merged_df.head()

,REVIEW_ID,AIRLINE_NAME,OVERALL_RATING,REVIEW_TITLE,REVIEW_DATE,VERIFIED,REVIEW,AIRCRAFT,TYPE_OF_TRAVELLER,SEAT_TYPE,...,VALUE_FOR_MONEY,RECOMMENDED,IATA_CODE,Route_Before,Route_After,Source Airport Code,Airport Code,Airport Name,City,State
0,3801,Alaska Airlines,1,"""carpet was so dirty""",24th July 2023,False,"Never again! My ticket was messed up, I had t...",Boeing 737-800,Solo Leisure,First Class,...,1.0,no,AS,Dallas/Fort Worth,Seattle,DFW,DFW,Dallas/Fort Worth International,Dallas/Fort Worth,TX
1,3802,Alaska Airlines,1,"""have the audacity to be truthful""",23rd July 2023,True,Booked a round trip with this company for a ...,NaN,Family Leisure,Premium Economy,...,1.0,no,AS,San Francisco,Orlando,SFO,SFO,San Francisco International,San Francisco,CA
2,3803,Alaska Airlines,2,"""a lot of shortfalls all over the place""",22nd July 2023,True,No in flight entertainment. Inconvenient foo...,Boeing 737,Solo Leisure,First Class,...,2.0,no,AS,Anchorage,Detroit,ANC,ANC,Ted Stevens Anchorage,Anchorage,AK
3,3804,Alaska Airlines,1,"""Absolutely terrible experience""",22nd July 2023,True,Absolutely terrible experience flying with A...,NaN,Family Leisure,Premium Economy,...,1.0,no,AS,Austin,Seattle,AUS,AUS,Austin-Bergstrom,Austin,TX
4,3805,Alaska Airlines,1,"""the pilot had no sense of urgency""",21st July 2023,True,We were on a connecting flight to London and ...,NaN,Business,Business Class,...,1.0,no,AS,San Diego,Seattle,SAN,SAN,San Diego International,San Diego,CA

In [60]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('cleaned_Airline_review_Final.csv')

# Drop duplicate rows based on the "REVIEW_ID" column
df.drop_duplicates(subset='REVIEW_ID', inplace=True)

# Save the modified dataframe back to the CSV file
df.to_csv('cleaned_Airline_review_Final.csv', index=False)

In [62]:
import pandas as pd
# Read the CSV file
df = pd.read_csv('cleaned_Airline_review_Final.csv')

# Create the "Trip" column by merging the 'Source Airport Code' and 'Destination Airport Code' columns
df['Trip'] = df['Source Airport Code'] + '-' + df['Destination Airport Code']

# Save the modified dataframe back to the CSV file
df.to_csv('cleaned_Airline_review_Final.csv', index=False)

In [63]:
df.head()

,REVIEW_ID,AIRLINE_NAME,OVERALL_RATING,REVIEW_TITLE,REVIEW_DATE,VERIFIED,REVIEW,AIRCRAFT,TYPE_OF_TRAVELLER,SEAT_TYPE,...,INFLIGHT_ENTERTAINMENT,WIFI_CONNECTIVITY,VALUE_FOR_MONEY,RECOMMENDED,IATA_CODE,Route_Before,Source Airport Code,Route_After,Destination Airport Code,Trip
0,18755,Southwest Airlines,1,"""Bye Bye Southwest""",10th June 2023,False,I fly Southwest every 3 weeks from Denver to...,Boeing 737-700,Business,Economy Class,...,NaN,NaN,1.0,no,WN,Albuquerque,ABQ,Denver,DEN,ABQ-DEN
1,4223,American Airlines,1,"""horrific disaster""",26th June 2023,False,Our mission trip to Africa was cancelled due ...,NaN,Business,Economy Class,...,NaN,NaN,1.0,no,AA,Albuquerque,ABQ,Dallas/Fort Worth,DFW,ABQ-DFW
2,19031,Spirit Airlines,1,"""Worst airline company ever""",27th May 2023,True,Worst airline company ever. I've been flying...,NaN,Solo Leisure,Economy Class,...,NaN,NaN,1.0,no,NK,Albuquerque,ABQ,Las Vegas,LAS,ABQ-LAS
3,4212,American Airlines,2,"""care for the customer is non existent""",1st July 2023,True,"Delays are ridiculous, connections are tight,...",A321 / A320,Solo Leisure,Economy Class,...,NaN,3.0,1.0,no,AA,Albany,ABY,Orlando,MCO,ABY-MCO
4,18939,Spirit Airlines,5,"""Spirit, please you can do it better""",18th July 2023,True,"I used to like Spirit, because is it easy and...",NaN,Family Leisure,Economy Class,...,2.0,2.0,3.0,no,NK,Atlantic City,ACY,Fort Lauderdale,FLL,ACY-FLL

In [7]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('cleaned_Airline_review_Final.csv')

# Create a dictionary to map the 'Trip' column to the corresponding 'AIRCRAFT' column values
trip_to_aircraft = df.groupby('Trip')['AIRCRAFT'].first().to_dict()

# Fill missing values in the 'AIRCRAFT' column based on the 'Trip' column
df['AIRCRAFT'] = df['AIRCRAFT'].fillna(df['Trip'].map(trip_to_aircraft))

# Save the modified DataFrame to a new CSV file
df.to_csv('filled_Airline_review_Final.csv', index=False)

In [11]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('sentiment_analysis_Airline_review.csv')

# Modify the values in the 'AIRCRAFT' column
df['AIRCRAFT'] = df['AIRCRAFT'].str.replace('Boeing 737', 'Boeing-737')

# Save the modified DataFrame back to the CSV file
df.to_csv('new.csv', index=False)

In [2]:
import pandas as pd
import random

# Load the cleaned data
df = pd.read_csv('sentiment_analysis_Airline_review.csv')

# Function to modify values in 'AIRCRAFT' column
def modify_aircraft_value(aircraft):
    if isinstance(aircraft, str) and ('Boeing' in aircraft or '737' in aircraft):
        return 'Boeing-737'
    else:
        return aircraft

# Apply the modification to 'AIRCRAFT' column
df['Aircraft'] = df['Aircraft'].apply(modify_aircraft_value)

replacement_values = ['A319', 'A320', 'A321', 'A330', 'A340', 'A350', 'A380']
probabilities = [random.random() for _ in range(len(replacement_values))]
total_probability = sum(probabilities)
probabilities = [p / total_probability for p in probabilities]  # Normalize probabilities

# Function to randomly replace 'A' in the aircraft column
def random_replace_A(aircraft):
    if isinstance(aircraft, str) and 'A' in aircraft:
        return random.choices(replacement_values, probabilities)[0]
    else:
        return aircraft

# Apply the modification to 'AIRCRAFT' column
df['Aircraft'] = df['Aircraft'].apply(random_replace_A)

# Save the modified DataFrame to a new file
df.to_csv('modified.csv', index=False)

In [3]:
import pandas as pd


# Function to remove spaces from 'AIRCRAFT' column if "CRJ" exists in the cell
def remove_spaces_if_CRJ(aircraft):
    if isinstance(aircraft, str) and 'CRJ' in aircraft:
        return aircraft.replace(" ", "")
    else:
        return aircraft

# Apply the modification to 'AIRCRAFT' column
df['Aircraft'] = df['Aircraft'].apply(remove_spaces_if_CRJ)

#delete the value containing "Who cares" in the 'AIRCRAFT' column
df = df[df['Aircraft'] != 'Who cares']

#Replace Bombardier Q400 with Q400 in the 'AIRCRAFT' column
df['Aircraft'] = df['Aircraft'].str.replace('Q400', 'Q-400')
# Save the modified DataFrame to a new file
df.to_csv('modified.csv', index=False)

In [4]:
#replace "Boeing-737" with either "Boeing-737", "Boeing-777", "Boeing-787" . Make sure the ratio between is very random

replacement_values = ['Boeing-737', 'Boeing-777', 'Boeing-787']
probabilities = [random.random() for _ in range(len(replacement_values))]
total_probability = sum(probabilities)
probabilities = [p / total_probability for p in probabilities]  # Normalize probabilities

def random_replace_Boeing(aircraft):
    if isinstance(aircraft, str) and 'Boeing-737' in aircraft:
        return random.choices(replacement_values, probabilities)[0]
    else:
        return aircraft
    
# Apply the modification to 'AIRCRAFT' column
df['Aircraft'] = df['Aircraft'].apply(random_replace_Boeing)


# Save the modified DataFrame to a new file
df.to_csv('cmodified.csv', index=False)

In [5]:
#display count of all the distinct values in the 'AIRCRAFT' column
df['Aircraft'].value_counts()

Aircraft
Boeing-777            59
A330                  19
Boeing-737            14
A320                  12
Boeing-787            12
A350                  12
A321                  11
A319                   8
A380                   7
Embraer 175            2
CRJ900                 2
Q-400                  2
7M9                    1
B712                   1
E175                   1
Bombardier Q-400       1
JetBlue flight 337     1
CRJ700                 1
Name: count, dtype: int64

In [62]:
#copy file cleaned_Airline_review_Final.csv to modified_Aircraft.csv
import shutil
shutil.copyfile('cleaned_Airline_review_Final.csv', 'modified_Aircraft.csv')

'modified_Aircraft.csv'

In [ ]:
!pip install textblob

In [52]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\ual-
[nltk_data]     laptop\AppData\Roaming\nltk_data...

True

In [53]:
import pandas as pd
import random
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Load the data
data = pd.read_csv('modified_Aircraft.csv')

# Initialize Sentiment Intensity Analyzer
sid = SentimentIntensityAnalyzer()

# Function to get sentiment score
def get_sentiment_score(text):
    return sid.polarity_scores(text)['compound']

# Apply sentiment analysis and fill missing values in AIRCRAFT column
for index, row in data.iterrows():
    if pd.isnull(row['AIRCRAFT']):
        sentiment_score = get_sentiment_score(row['REVIEW'])
        if sentiment_score < 0:
            data.at[index, 'AIRCRAFT'] = random.choice(['Boeing-737', 'Boeing-777', 'Boeing-787'])
        else:
            data.at[index, 'AIRCRAFT'] = random.choice(['A319', 'A320', 'A321', 'A330', 'A340', 'A350', 'A380'])

# Save the modified DataFrame back to the CSV file
data.to_csv('modified_Aircraft.csv', index=False)

In [60]:
data['AIRCRAFT'].value_counts()

AIRCRAFT
Boeing-787            248
Boeing-737            227
Boeing-777            223
A319                   67
A350                   55
A330                   54
A340                   48
A320                   44
A380                   43
A321                   41
Embraer 175             3
Q-400                   3
CRJ900                  2
7M9                     1
B712                    1
JetBlue flight 337      1
CRJ700                  1
Name: count, dtype: int64

In [7]:
import pandas as pd
import random


# Define aircraft types
delay_aircraft = ['Boeing-737', 'Boeing-777', 'Boeing-787']
regular_aircraft = ['A319', 'A320', 'A321', 'A330', 'A340', 'A350', 'A380']

# Function to assign aircraft randomly
def assign_aircraft(review):
    if 'delay' in review.lower() or 'late' in review.lower():
        return random.choice(delay_aircraft)
    else:
        return random.choice(regular_aircraft)

# Fill missing values in "AIRCRAFT" column based on "REVIEW" column
df['Aircraft'] = df.apply(lambda row: assign_aircraft(row['Review']) if pd.isna(row['Aircraft']) else row['Aircraft'], axis=1)

# Save the modified dataframe back to the same file
df.to_csv('modified.csv', index=False)

In [10]:
df['Aircraft'].value_counts()

Aircraft
Boeing-777            214
Boeing-737            165
Boeing-787            155
A350                   81
A330                   80
A321                   78
A320                   74
A380                   70
A340                   68
A319                   65
Embraer 175             2
CRJ900                  2
Q-400                   2
7M9                     1
B712                    1
E175                    1
Bombardier Q-400        1
JetBlue flight 337      1
CRJ700                  1
Name: count, dtype: int64